﻿@model KnowledgeTestingSystem.PL.Models.Test.PassTheTestModel

@{
    ViewBag.Title = "PassTheTest";
    var endTime = DateTime.UtcNow.AddMinutes(Model.TestDurationInMinutes);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;

}

<h2>PassTheTest</h2>

<div class="row">
    <span id="minRemaining"></span>:<span id="secRemaining"></span>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.TestName)
    @Html.DisplayFor(m => m.TestName)<br/>
    for (int i = 0; i < Model.Questions.Count; i++)
    {
        @Html.HiddenFor(m => m.Questions[i].QuestionText)
        @Html.DisplayFor(m => m.Questions[i].QuestionText)<br />
        foreach (var answer in Model.Questions[i].Answers)
        {
            <div>
                @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.AnswerText, new { id = answer.AnswerText })
                <label for="@answer.AnswerText">@answer.AnswerText</label>
            </div>
        }<br />
    }
    <input type="submit" id="passTest" value="save" />
}

<script>
    var remainSeconds = @timeRemaining;
    var secondCounter = remainSeconds % 60;

    function formatNumber(number) {
        if (number < 10) {
            return '0' + number;
        }
        else {
            return '' + number;
        }
    }

    function startTick() {
        document.getElementById("secRemaining").innerText = formatNumber(secondCounter);
        document.getElementById("minRemaining").innerText = formatNumber(parseInt(remainSeconds / 60));
        if (secondCounter == 0) {
            secondCounter = 60;
        }
        var _tick = setInterval(function () {
            if (remainSeconds > 0) {
                remainSeconds -= 1;
                secondCounter -= 1;
                
                document.getElementById("secRemaining").innerText = formatNumber(secondCounter);
                document.getElementById("minRemaining").innerText = formatNumber(parseInt(remainSeconds / 60));
                if (secondCounter == 0) {
                    secondCounter = 60;
                }
            }
            else {
                clearInterval(_tick);
                $("#passTest").click();
            }
        }, 1000);
    }
    startTick();

</script>


