﻿@model IEnumerable<KnowledgeTestingSystem.PL.Models.Test.SearchTestModel>

@{
    Layout = null;
}

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="container">
                    <div class="row ">
                        <p>
                            <span class="pull-left">
                                @Html.DisplayFor(modelItem => item.TestName)
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (item.IsSubscribed)
                                    {
                                        <button type="button" class="btn btn-default btn-small" disabled>Subscribed</button>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Subscribe", "Subscribe", new { testName = item.TestName }, new { @class = "btn btn-default btn-small" })
                                    }
                                }

                            </span>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    }



