﻿@{
    ViewBag.Title = "Search";
    
}

<div>
    <h4>Search Test</h4>
    @ViewData["Message"]
    @using (Html.BeginForm())
    {
        <div class="row" id="find">
            <div class="col-sm-3 input-group">
                <input type="text" name="filter" value="@ViewBag.filter" class="form-control" placeholder="Enter name or part of test name..." />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Search</button>
                </span>
            </div>
        </div>
            <table class="table-borderless" id="testList">
                @Html.Action("SearchTest")
            </table>

    }
</div>

