﻿@model IEnumerable<KnowledgeTestingSystem.PL.Models.Test.UserSubscribedTestsModel>

@{
    ViewBag.Title = "Subscriptions";
}

<h2>My Subscriptions</h2>

<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @if (item.IsFinished)
                {
                    @Html.DisplayFor(modelItem => item.PercentageOfPassing)<text>%</text>
                }
            </td>
            
            @if (item.IsFinished)
            {
        <td>
            @if (item.IsFinishedSuccessfully)
            {
                <button type="button" class="btn btn-success" disabled>Success</button>
            }
            else
            {
                <button type="button" class="btn btn-danger" disabled>Failed</button>
            }
        </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Run", "PassTheTest", new { testName = item.TestName }, new { @class = "btn btn-default btn-small" })
                </td>
            }

        </tr>
    }

</table>
